body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  color: #eee;
  background-color: #0D1117;
}

/* .app-layout-header {
  width: 100%;
  height: 64px;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  user-select: none;
  background-color: rgba(255, 255, 255, .1); */
/* } */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}